@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.property {
    background: linear-gradient(to right, #C1DEE8 0%, #FBD9B9 100%);
}

.newsletter {
    background: linear-gradient(90deg, #C1DEE8 0%, #FBD9B9 100%);
}

.left-right {
    background-color: white;
    transition: background-color 0.3s, stroke 0.3s;
}

.left-right svg path {
    stroke: #000;
    transition: stroke 0.3s;
}

.left-right:hover {
    background-color: black;
}

.left-right:hover svg path {
    stroke: #fff;
}